%a{:href => "https://designsystem.digital.gov/components/table/"}
  See on USWDS

= render UswdsComponents::TableComponent.new(borderless: true) do
  %caption Borderless table: A borderless table can be useful when you want the information to feel more a part of the text it accompanies and extends.
  %thead
    %tr
      %th{scope: :col} Document title
      %th{scope: :col} Description
      %th{scope: :col} Year
  %tbody
    %tr
      %th{scope: :row} Declaration of Independence
      %td Statement adopted by the Continental Congress declaring independence from the British Empire.
      %td 1776
    %tr
      %th{scope: :row} Bill of Rights
      %td The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.
      %td 1791
    %tr
      %th{scope: :row} Declaration of Sentiments
      %td A document written during the Seneca Falls Convention outlining the rights that American women should be entitled to as citizens.
      %td 1848
    %tr
      %th{scope: :row} Emancipation Proclamation
      %td An executive order granting freedom to slaves in designated southern states.
      %td 1863

= render UswdsComponents::TableComponent.new(borderless: true, striped: true) do
  %caption Borderless table with horizontal stripes
  %thead
    %tr
      %th{scope: :col} Document title
      %th{scope: :col} Description
      %th{scope: :col} Year
  %tbody
    %tr
      %th{scope: :row} Declaration of Independence
      %td Statement adopted by the Continental Congress declaring independence from the British Empire.
      %td 1776
    %tr
      %th{scope: :row} Bill of Rights
      %td The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.
      %td 1791
    %tr
      %th{scope: :row} Declaration of Sentiments
      %td A document written during the Seneca Falls Convention outlining the rights that American women should be entitled to as citizens.
      %td 1848
    %tr
      %th{scope: :row} Emancipation Proclamation
      %td An executive order granting freedom to slaves in designated southern states.
      %td 1863

.table-example-container
  .width-mobile
    = render UswdsComponents::TableComponent.new(stacked: true) do
      %caption
        Stacked bordered table
        %br
        (when on a
        %span.text-no-wrap mobile-width
        screen)
      %thead
        %tr
          %th{scope: :col} Document title
          %th{scope: :col} Description
          %th{scope: :col} Year
      %tbody
        %tr
          %th{data: {label: "Document title"}, scope: :row} Declaration of Independence
          %td{data: {label: "Description"}} Statement adopted by the Continental Congress declaring independence from the British Empire.
          %td{data: {label: "Year"}} 1776
        %tr
          %th{data: {label: "Document title"}, scope: :row} Bill of Rights
          %td{data: {label: "Description"}} The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.
          %td{data: {label: "Year"}} 1791

  .width-mobile
    = render UswdsComponents::TableComponent.new(stacked: true, borderless: true) do
      %caption
        Stacked borderless table
        %br
        (when on a
        %span.text-no-wrap mobile-width
        screen)
      %thead
        %tr
          %th{scope: :col} Document title
          %th{scope: :col} Description
          %th{scope: :col} Year
      %tbody
        %tr
          %th{data: {label: "Document title"}, scope: :row} Declaration of Independence
          %td{data: {label: "Description"}} Statement adopted by the Continental Congress declaring independence from the British Empire.
          %td{data: {label: "Year"}} 1776
        %tr
          %th{data: {label: "Document title"}, scope: :row} Bill of Rights
          %td{data: {label: "Description"}} The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.
          %td{data: {label: "Year"}} 1791

  .width-mobile
    = render UswdsComponents::TableComponent.new(stacked_header: true) do
      %caption
        Stacked bordered table with headers
        %br
        (when on a
        %span.text-no-wrap mobile-width
        screen)
      %thead
        %tr
          %th{scope: :col} Document title
          %th{scope: :col} Description
          %th{scope: :col} Year
      %tbody
        %tr
          %th{data: {label: "Document title"}, scope: :row} Declaration of Independence
          %td{data: {label: "Description"}} Statement adopted by the Continental Congress declaring independence from the British Empire.
          %td{data: {label: "Year"}} 1776
        %tr
          %th{data: {label: "Document title"}, scope: :row} Bill of Rights
          %td{data: {label: "Description"}} The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.
          %td{data: {label: "Year"}} 1791

  .width-mobile
    = render UswdsComponents::TableComponent.new(stacked_header: true, borderless: true) do
      %caption
        Stacked borderless table with headers
        %br
        (when on a
        %span.text-no-wrap mobile-width
        screen)
      %thead
        %tr
          %th{scope: :col} Document title
          %th{scope: :col} Description
          %th{scope: :col} Year
      %tbody
        %tr
          %th{data: {label: "Document title"}, scope: :row} Declaration of Independence
          %td{data: {label: "Description"}} Statement adopted by the Continental Congress declaring independence from the British Empire.
          %td{data: {label: "Year"}} 1776
        %tr
          %th{data: {label: "Document title"}, scope: :row} Bill of Rights
          %td{data: {label: "Description"}} The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.
          %td{data: {label: "Year"}} 1791

:css
  .table-example-container {
    display: flex;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-flow: row wrap;
    justify-content: space-around;
  }
