-# haml-lint:disable LineLength
%div{class: "usa-alert usa-alert--#{status}#{' usa-alert--slim' unless heading.present?}#{' usa-alert--no-icon' unless include_icon}"}
  .usa-alert__body
    - if heading.present?
      %h3.usa-alert__heading= heading
    %p.usa-alert__text= content
