%a{:href => "https://designsystem.digital.gov/components/sidenav/"}
  See on USWDS
.grid-row.grid-gap
  .tablet:grid-col-4
    %h6.usa-heading-alt
      Single level
    = render UswdsComponents::SidenavComponent.new do |nav|
      - nav.item(href: request.path, name: 'Current page')
      - nav.item(href: '#parent', name: 'Parent link')
      - nav.item(href: '#parent', name: 'Parent link')

  .tablet:grid-col-4
    %h6.usa-heading-alt
      Two levels
    = render UswdsComponents::SidenavComponent.new do |nav|
      - nav.item(href: '#parent', name: 'Parent link')
      - nav.item(href: request.path, name: 'Current page') do |subnav|
        - subnav.item(href: '#child', name: 'Child link')
        - subnav.item(href: '#child', name: 'Child link')
        - subnav.item(href: '#child', name: 'Child link')
        - subnav.item(href: '#child', name: 'Child link')
        - subnav.item(href: request.path, name: 'Child link')
      - nav.item(href: '#parent', name: 'Parent link')

  .tablet:grid-col-4
    %h6.usa-heading-alt
      Three levels
    = render UswdsComponents::SidenavComponent.new do |nav|
      = nav.item(href: '#parent', name: 'Parent link')
      = nav.item(href: request.path, name: 'Current page') do |subnav|
        = subnav.item(href: '#child', name: 'Child link')
        = subnav.item(href: '#child', name: 'Child link')
        = subnav.item(href: '#child', name: 'Child link') do |subsubnav|
          = subsubnav.item(href: '#grandchild', name: 'Grandchild link')
          = subsubnav.item(href: '#grandchild', name: 'Grandchild link')
          = subsubnav.item(href: request.path, name: 'Grandchild link')
        = subnav.item(href: '#child', name: 'Child link')
        = subnav.item(href: '#child', name: 'Child link')
        = subnav.item(href: '#child', name: 'Child link')
      = nav.item(href: '#child', name: 'Parent link')
