!!!
%html
  %head
    %title Dummy
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'js/uswds-init.min.js'
  %body
    .grid-container
      .grid-row
        %main.tablet:grid-col-fill
          %h1= @preview&.name
          = yield
    = javascript_include_tag 'js/uswds.min.js'
