!!!
%html
  %head
    %title Dummy
    = csrf_meta_tags
    = csp_meta_tag

    %link{:crossorigin => "anonymous", :href => "https://cdn.jsdelivr.net/npm/uswds@2.12.2/dist/css/uswds.min.css", :integrity => "sha256-w12xmKFX1Bd0luZZr1hehpfX9EgyX9C6QTaKTZGDduE=", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :integrity => "sha256-9lfV7p6SwtVd8y52fTGAaNFu+rQGUEYODsI5fDErBEI=", :src => "https://cdn.jsdelivr.net/npm/uswds@2.12.2/dist/js/uswds-init.js"}

    = stylesheet_link_tag "application"
  %body
    .grid-container
      .grid-row
        .tablet:grid-col-auto.margin-y-2.margin-right-3
          = render partial: 'preview_menu', locals: {previews: ViewComponent::Preview.all}

        .tablet:grid-col-fill
          %h1= @preview.preview_name.camelize if @preview
          = yield
    %script{:crossorigin => "anonymous", :integrity => "sha256-bEODhV4qVg5PIbshplXC76WhJoADh8mVW2WkWQQbYFg=", :src => "https://cdn.jsdelivr.net/npm/uswds@2.12.2/dist/js/uswds.js"}
